<div class = "pagina">

<div class="topo">
  
estou terminando
  <h2>cadastros</h2>
        <div class="slogan">
        <h1 >Sistema de Triagem</h1>
        <p>Síndrome do X Frágil</p></div>
</div>

<div class="busca">

  <input
    class = "botaoBusca"
    pInputText
    type="text"
    placeholder="Buscar por nome"
    [(ngModel)]="busca"
    (input)="filtrarPacientes()">

    <button
    class="btn-novo"
    pButton
    type="button"
    label="Novo Paciente"
    icon="pi pi-plus"
    (click)="novoPaciente()">
  </button>

</div>

<p-table
  [value]="pacientesFiltrados"
  [loading]="loading"
  [paginator]="true"
  [rows]="5"
  responsiveLayout="scroll">

  <ng-template pTemplate="header"
  >
    <tr>
      <th>ID</th>
      <th>Nome Completo</th>
      <th>Sexo</th>
      <th>Data Nascimento</th>
      <th>Telefone</th>
      <th>Responsável</th>
      <th>Editar</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-paciente>

    <tr>

      <td>{{ paciente.id }}</td>

      <td>{{ paciente.nome }}</td>

      <td>{{ paciente.sexo }}</td>

      <td>{{ paciente.dataNascimento }}</td>

      <td>{{ paciente.telefone }}</td>

      <td>{{ paciente.responsavel }}</td>

      <td>

        <p-tag
          [value]="paciente.ativo ? 'Ativo' : 'Inativo'"
          [severity]="paciente.ativo ? 'success' : 'danger'">
        </p-tag>

      </td>

      <td>

        <button
          pButton
          icon="pi pi-pencil"
          severity="warning"
          class="mr-2"
          (click)="editarPaciente(paciente)">
        </button>

        <button
          pButton
          icon="pi pi-eye"
          severity="info"
          (click)="verDetalhes(paciente)">
        </button>

      </td>

    </tr>

  </ng-template>

  <ng-template pTemplate="emptymessage">

    <tr>
      <td colspan="8">
        Nenhum paciente encontrado.
      </td>
    </tr>

  </ng-template>

</p-table></div>